<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaich.toko_restmag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_restaurant_menu_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_restaurant_menu_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toko_RestMag"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OpeningActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CreateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.MenuActivity"
            android:exported="true" />
        <activity android:name=".ui.activity.UserActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.MainActivity" />

<!--        Activity pegawai-->
        <activity
            android:name=".pegawai.activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".pegawai.activity.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".pegawai.activity.CategoryActivity"
            android:exported="false" />
        <activity android:name=".pegawai.activity.LoginPegawaiActivity"/>
        <activity android:name=".pegawai.activity.ProductActivity"/>
    </application>

</manifest>